@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: bold;
}

:root {
  --mainColor: #3461ff;
  --mainColorLighter: #4f71ef;
  --secondaryColor: #faca4e;
  --textColor: rgb(255, 255, 255);
}

.wrapper {
  padding: 2.5rem;
  padding-top: 1rem;
}

.geek-games-page {
  height: 100%;
  background-color: #1b1b1b;
}

.wrapper .footer-container h4,
.wrapper a,
.wrapper .footer-bottom {
  color: #fff;
}

.geek-image {
  padding-top: 37px;
  display: flex;
  justify-content: center;
}

.wrapper hr {
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-top: 5px solid #fff;
}

.text-section {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.geek-games-info {
  color: #fff;
  font-size: 1.15rem;
  padding-bottom: 50px;
  font-family: "Inter";
  font-weight: 400;
}

.geek-games-venue {
  color: #fff;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.geeks-form-title {
  color: #fff;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.geek-games-form {
  margin-top: 100px;
  margin-left: 10%;
}

.footer-line {
  width: 30%;
  margin: 0 auto;
  margin-top: 0;
}

.connect-code-compete {
  width: 35em;
  margin: 0 auto;
  margin-bottom: -20px;
}

@media (max-width: 850px) {
  .connect-code-compete {
    width: 25em;
  }
}

@media (max-width: 500px) {
  .connect-code-compete {
    width: 20em;
  }
}

@media (max-width: 350px) {
  .connect-code-compete {
    width: 15em;
  }
}