*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
}

:root{
    --mainColor: #3461FF;
    --mainColorLighter: #4f71ef;
    --lighterBlue: #C3E2FF;
    --secondaryColor: #FACA4E;
    --textColor: rgb(255, 255, 255);
    --hoverBlue: #204be8;
}

/* box-float flex items-center p-20 border-7 border-black bg-lighter-blue */
.about-us-container {
    display: flex;
    align-items: center;
    padding:5rem;
    border: solid black 7px;
    background-color: var(--lighterBlue);
}

.text-box {
    padding-left: 1.5 rem;
    max-width: 50%;
}

/* pb-10 pt-10 text-right text-black text-7xl font-bold pb-5 */
.about-us-title {
    padding: 2.5rem;
    padding-bottom: 0rem;
    padding-right: 0rem;
    text-align: right;
    color: black;
    font-size: 4rem;
    font: bold;
}

/* pl-15 pb-10 text-right text-2xl */
.about-us-para {
    padding: 2.5 rem;
    text-align: right;
    font-size: 1.2rem;
    color: black;
}

/* btn-float py-4 px-32 text-2xl mr-auto font-bold text-white border-5 bg-main-blue border-black inline-block leading-tight shadow-md hover:bg-hover-blue hover:shadow-lg focus:bg-hover-blue focus:shadow-lg focus:outline-none focus:ring-0 active:bg-hover-blue active:shadow-lg transition duration-150 ease-in-out */

.about-us-btn {
    padding: 0.75rem;
    font-size:1.2rem;
    font: bold;
    color: white;
    border: solid black 5px;
    background-color:var(--mainColor);

}

.about-us-btn:hover{
    transition: 1.5s;
    background-color: var(--hoverBlue);
}


.team-photo-box {
    
}


/* border-white border-7 rounded-3xl */
.decoration {
    border: solid white 7px;
    border-radius: 10px;
    min-width: 40%;
}






.btn-float{
    position: relative;
    top: 25px;
    right: -150px;
}

.box-float{
    position: relative;
    right: -10px;

}

.frame-float{
    position: absolute;
    width: 70%;
    height:68%;
    left: 180px;
    top: 150px;
}