.btn-float{
    position: relative;
    top: 25px;
    right: -150px;
}

.box-float{
    position: relative;
    right: -10px;

}

.frame-float{
    position: absolute;
    width: 70%;
    height:68%;
    left: 180px;
    top: 150px;
}