*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
}

:root{
    --mainColor: #3461FF;
    --mainColorLighter: #4f71ef;
    --secondaryColor: #FACA4E;
    --textColor: rgb(255, 255, 255);
    --bgGray: #C9C6BF;
}

.init-card-item{
    background-color: var(--bgGray);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: solid 5px black;
    padding-top: 1.2rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 23%;
    min-width: 300px;
    margin: 1rem;

    transition: 300ms transform ease-in-out;
}

.init-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.init-img{
    border-radius:25px;
    border: solid 5px black;
    width: 17rem;
    height: 17rem;
    object-fit: cover;
    overflow:hidden;
}

.init-info{
    padding:1rem;
    color: black;
}

.init-title {
    font-size: 1.8rem;
    font-weight: bold;
}

.init-card-item:hover{
    transform: scale(1.025);
    cursor: pointer;
}
