.App {
  text-align: center;
  margin: 2.5rem;
  margin-top:1rem;
  /* background-color:rgb(92, 64, 19); */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.App::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.App{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.divider-brn{
  background-color: rgb(92, 64, 19);
  padding-top: 0.75rem;
  border-left: solid black 7px;
  border-right: solid black 7px;
}

.divider-ylw{
  background-color: #FACA4E;;
  padding-top: 0.75rem;
  border-left: solid black 7px;
  border-right: solid black 7px;
}

.divider-wht{
  background-color: rgb(255, 255, 255);
  padding-top: 0.75rem;
  border-left: solid black 7px;
  border-right: solid black 7px;
}

.blue-stripe{
  background-color: #4f71ef;
}

@media only screen and (max-width:500px) {
  .App{
    margin: 10px;
    margin-top:1rem;
  }
}

